.navBar {
    background-image: url(../../imagenes/nav.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
    border-radius: 10px;
    padding: 25px;
    width: 1245px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    text-decoration: none;
    padding: 25px ;
}

.itens {
    display: flex;
    align-items: center;
}

.links {
    text-decoration: none;
    color: #29f900;
    text-shadow: 0px 0px 3px white;
    margin-right: 107px;
    text-transform: uppercase;
    margin: 0 30px;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 4px;
    transition: 0.5s;
}

.links:hover {
    text-shadow: 0px 0px 10px #67e44d, 0px 10px 10px #67e44d, 0 0 10px #67e44d;
    transition-duration: 0.5s;
    font-size: 19px;
    padding: 8px;
}
