.divCard{
    width: fit-content;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    flex-direction: column;
    background-color: #d5d5d5e0;
    border: 3px solid rgb(85, 85, 85);
    position: relative;
    box-shadow: 0px 0px 20px 5px rgba(183, 183, 183, 0.74);
    border-radius: 10px;
    margin-top: 40px;
}

.button{
    display: flex;
    margin-left: 275px;
    justify-content: end;
    align-items: flex-end;
    background-color: transparent;
    position: absolute;
   }

.name{
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 220px;
    position: absolute;
    border-radius: 3px;
    padding: 5px;
}

.characters{
    width: 300px;
    height: 35px;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content:space-around;
    position: absolute;
    background-color: rgba(71, 71, 71, 0.747);
    margin-top: 265px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

